body {
    background-image: linear-gradient(to right ,#00476a,#e400a4);
    border-left: 10px solid rgb(255, 0, 255);
    border-right: 10px solid rgb(0, 160, 255);
    border-bottom: 10px rgb(0, 255, 0) solid;
}

h2 {
    margin: 0;
}

.game {
    font-size: 50px;
}

marquee {
    font-family: Helvetica;
    margin-left: 0;
}

p {
    color: white;
}

div {
    width: 14%;
    height: 20%;
    border: 1px solid white;
    float: left;
    text-align: center;
	margin-right:5px;
}

.about {
    color: rgb(255, 100, 0);
    margin-left:20%;
    border-top-color:rgb(255, 100, 0);
	border-bottom-color:rgb(0,255,0);
}

.contacts {
    color: rgb(0, 160, 255);
    border-top-color:rgb(0, 160, 255);
	border-bottom-color:rgb(0,255,0);
}

.projects {
    color: rgb(255, 255, 0);
    border-top-color:rgb(255, 255, 0);
	border-bottom-color:rgb(0,255,0);
}

.finish {
    color: rgb(255, 0, 255);
    margin-right:20%;
    border-top-color:rgb(255, 0, 255);
    border-bottom-color:rgb(0,255,0);
}
html,body{
	height:100%;
}